/*Men*/

div,p.otstup{
    margin-top: 1%
}

*{box-sizing: border-box;}
form.box {
    position: relative;
    width: 650px;
    margin: 0 auto;
} 
input.box {
    width: 100%;
    height: 32px;
    background: #F0F0F0;
    padding-left: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    left: 40px;
}
.search-icon{
    z-index: 0;
    position: relative;
    right: 30px;
    top: 5px;
    width: 32px;
    height: 32px;

}

div.dline {
    line-height: 1.5;
   }
   
div.scale {
    display: inline-block; 
    overflow: hidden; 
   }
img.scale {
    transition: 1s; 
    display: block; 
   }
.scale img:hover {
    transform: scale(1.2); 
   }

div.effect {
    color: orange; 
    text-decoration: none;
    margin-top: -2%; 
}


h5:hover {
    color: #ff4f00 ;  
    text-decoration: underline; 
}
a.orange {
    color: black;  
   }
.orange {
    color: black;  
    text-decoration: none; 
   }
.orange:visited { 
    color: black; 
   }
.orange:hover {
    color: #ff4f00;  
   }

.text-element{
    margin-top: -1%;
    position: relative;
    margin-right: 1000px;
    font-size: 380%;
    color: white;
}
.mini-text-element{
    margin-top: -2%;
    margin-right: 700px;
    font-size: 140%;
    color: white;
}

button.btn-dark-model{
    margin-top: -2%; 
    position: relative;
    margin-right: 400px;
}


/*------------------------------------*/

button.btn-outline-orange {
    position: relative;
    width: 200px;
    top: 150px;
    left: 43%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white; 
    border-color: white;  
}
button.btn-outline-orange:hover{
    background-color: #F7941E;
    color: white;
}
button.btn-outline-orange2 {
    position: relative;
    width: 200px;
    top: 150px;
    left: 44%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white; 
    border-color: white; 
}
button.btn-outline-orange2:hover{
    background-color: #F7941E;
    color: white;
}
button.btn-outline-orange3 {
    position: relative;
    width: 200px;
    top: 150px;
    left: 44%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white;
    border-color: white;    
}
button.btn-outline-orange3:hover{
    background-color: #F7941E;
    color: white;
}
button.btn-outline-orange4 {
    position: relative;
    width: 200px;
    top: 150px;
    left: 44%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white;
    border-color: white;    
}
button.btn-outline-orange4:hover{
    background-color: #F7941E;
    color: white;
}

button.btn-outline-orange5 {
    position: relative;
    width: 200px;
    top: -92px;
    left: 91%;
    margin:-100px;
    background: transparent;
    color: white; 
    border-color: white;  
}
button.btn-outline-orange5:hover{
    background-color: #F7941E;
    color: white;
}
/*#---------------------------------*/

div.alert{
    margin-top: -0.5%;
    background-color: #F7941E;
    background: #F7941E;
    height: 40px;
}


p,h6,img.otstup{
    margin-left: 25px;
}

h1.center{
    margin-top: 3%;
}
del{
    color: #F7941E;
}
button.btn-outline-dark{
    margin-top: 1%;
    margin-left: 50px;
    margin-bottom: 5%;
}

h4.text-top{
    margin-top: 1%;
    position: inherit;
    margin-right: 680px;
}
h4.text-top2{
    margin-top: -2%; 
    position: inherit;
    margin-left: 20px;
}
h4.text-top3{
    margin-top: -2%; 
    position: inherit;
    margin-left: 680px;
}
h3.otstup{
    margin-top: 4%;
}

button.miti-btn{
    background: #F7941E;
    color: white;
}
button.miti-btn:hover{
    background: white;
    color: #F7941E;
}


img.image {
    position: relative;
    width: 95%;
    margin-top: 3%;
}

h1.top-text {
    position: relative;
    top: -150px;
    left: 90px;
    width: 100%;
    color: white;
}
a.top-text{
    position: relative;
    top: -160px;
    left: 90px;
    width: 100%;
    color: white;
}
a.top-text {
    color: white;
   }
   a.top-text {
    color: white; 
   }
   a.top-text:visited { 
    color: white; 
   }
   a.top-text:hover {
    color: white; 
}

a.link{
    position: inherit;
    margin-left: 8%;
    color: #808080;
    text-decoration: none;
}
a.link:visited{
    color: #808080;
}
a.link:hover{
    color: #F7941E;
}


h3.indent{
    margin-top: 4%;
    height: 100px;
    margin-left:60px;
}
p.indent{
    margin-left:60px;
}

table.table1{
    margin-top: -7%; 
    position: inherit;
    margin-right: 810px;

}
table.table2{
    margin-top: -7.3%; 
    position: inherit;
    margin-right: 220px;

}
table.table3{
    margin-top: -7.3%; 
    position: inherit;
    margin-left: 1310px;

}
.mini-text{
    font-size: 15px;
}

img.img-logo{
    margin-top: -17%; 
    position: inherit;
    width: 100px;
    margin-left: 1950px;
}

a.nav-link{
    margin-top: -7%; 
    position: inherit;
    margin-left: 1880px;
    color: black;
}

a.nav-link:hover{
    color: #F7941E;
}

a.nav-link2{
    text-decoration: none;
    margin-top: -1.9%; 
    position: relative;
    margin-left: 2000px;
    color: black;
}

a.nav-link2:hover{
    color: #F7941E;
}

.text-otstup{
    margin-top: -3%;

    margin-right: 50px;
}
/*---------------------------------------------------------*/

/*Women*/

.btn-outline1{
    position: relative;
    width: 100px;
    top: -80px;
    left: 14%;
    margin:-100px;
    background: transparent;
    color: black;       
}
.btn-outline1:hover{
    background-color: black;
    color: white;
}
.btn-outline2{
    position: relative;
    width: 100px;
    top: -80px;
    left: 45%;
    margin:-100px; 
    background: transparent;
    color: black;     
}
.btn-outline2:hover{
    background-color: black;
    color: white;
}


.btn-outline3{
    position: relative;
    width: 100px;
    top: -80px;
    left: 75%;
    margin:-100px;
    background: transparent;
    color: black;     
}
.btn-outline3:hover{
    background-color: black;
    color: white;
}
 
.btn-outline4{
    position: relative;
    width: 100px;
    top: -80px;
    left: 104%;
    margin:-100px;
    background: transparent;
    color: black;  
}
.btn-outline4:hover{
    background-color: black;
    color: white;
}

h1.center-text{
    margin-top: -8%; 
    position: inherit;
    margin-right: 1600px;
    
}

h3.indent-2{
    margin-top: 4%;
    height: 100px;
    margin-right:1680px;
}
p.indent-2{
    margin-right:1680px;
}
table.table3-3{
    margin-top: -8%; 
    position: inherit;
    margin-left: 570px;
}
h1.text-5{
    margin-top: -17%; 
    position: inherit;
    margin-left: 70px;
    font-size: 500%;
    color: white;
}

button.btn-1{
    margin-top: -8%; 
    position: inherit;
    margin-left: 70px;
    width: 150px;
    background: white;
    color: black;
    border-color: white;
    margin: 5px;
}
button.btn-1:hover{
    background: black;
    color: white;
    border-color: black;
}

/*------------------------------------------------*/

/*Shoes*/

.elementor-text{
    margin-top: -12%;
    position: inherit;
    color: white;

}
.elementor-button-text{
    background: transparent;
    color: white;
    border-color: white;
    width: 150px;
}
.elementor-button-text:hover{
    background: white;
    color: black;
}
button.elementor-button-obuv{
    margin: 115px;
    background: transparent;
    color: black;
    border-color: black;
    width: 80px;
}

h1.element-font{
    margin-top: -20%;
    font-size: 70px;
    margin-left: 2%;
    line-height: 1.1em;
    color: white;
}

button.elementor-button-obuv:hover{
    background: black;
    color: white;
}

h4.shoes-text-top{
    margin-top: 1%;
    margin-right: 35%;
}
h4.shoes-text-top2{
    margin-top: -1.8%;
}
h4.shoes-text-top3{
    margin-top: -1.9%;
    margin-left: 35%;
}

a.shoes-top{
    color: black;
    margin: 7%;
}

a.shoes-top:hover{  
    color: black;
}

h1.elementor-title{
    margin-top: -8%;
    margin-left: 80px;
    color: #FFF;
    font-size: 50px;
    line-height: 1.1em;
}
a.elementor-button-title{
    color: white;
    margin-left: 80px;

}
a.elementor-button-title:hover{
    color: white;
}


/*---------------------------------*/

/*Jackets & Coats*/


.search-icon-element{
    z-index: 0;
    position: relative;
    right: 30px;
    top: 5px;
    width: 32px;
    height: 32px;
}

img.dropdown-element{
    margin-top: -20%;
    position: relative;
    margin-left: 400px;
}

img.dropdown-element2{
    margin-top: -361px;
    position: relative;
    margin-left: 1010px;
}

h4.dropdown-element-text{
    margin-top: -6%;
    position: relative;
    margin-left: 450px;
}
a.dropdown-link{
    position: relative; 
    margin-left: 450px;
}
h4.dropdown-element-text-2{
    margin-top: -6%;
    position: relative;
    margin-left: 1050px;
}

a.dropdown-link-2{
    position: relative; 
    margin-left: 1050px;
}

div.img-element-1{
    margin-top: -300px;
    position: relative;
    margin-left: 300px;

}

div.img-element-2{
    margin-top: -354px;
    position: relative;
    margin-left: 530px;

}

div.img-element-3{
    margin-top: -354px;
    position: relative;
    margin-left: 760px;

}

