/*Men*/

div,p.otstup{
    margin-top: 1%
}

*{box-sizing: border-box;}
form.box {
    position: relative;
    width: 650px;
    margin: 0 auto;
} 
input.box {
    width: 100%;
    height: 32px;
    background: #F0F0F0;
    padding-left: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    left: 40px;
}
.search-icon{
    z-index: 0;
    position: relative;
    right: 30px;
    top: 5px;
    width: 32px;
    height: 32px;
}

div.dline {
    line-height: 1.5;
   }
   
div.scale {
    display: inline-block; 
    overflow: hidden; 
   }
img.scale {
    transition: 1s; 
    display: block; 
   }
.scale img:hover {
    transform: scale(1.2); 
   }

div.effect {
    color: orange; 
    text-decoration: none;
    margin-top: -2%; 
}


h5:hover {
    color: #ff4f00 ;  
    text-decoration: underline; 
}
a.orange {
    color: black;  
   }
.orange {
    color: black;  
    text-decoration: none; 
   }
.orange:visited { 
    color: black; 
   }
.orange:hover {
    color: #ff4f00;  
   }

/*------------------------------------*/

button.btn-outline-orange {
    position: relative;
    width: 200px;
    top: 150px;
    left: 50%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white; 
    border-color: white;  
}
button.btn-outline-orange:hover{
    background-color: #F7941E;
    color: white;
}
button.btn-outline-orange2 {
    position: relative;
    width: 200px;
    top: 150px;
    left: 50%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white; 
    border-color: white; 
}
button.btn-outline-orange2:hover{
    background-color: #F7941E;
    color: white;
}
button.btn-outline-orange3 {
    position: relative;
    width: 200px;
    top: 150px;
    left: 50%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white;
    border-color: white;    
}
button.btn-outline-orange3:hover{
    background-color: #F7941E;
    color: white;
}
button.btn-outline-orange4 {
    position: relative;
    width: 200px;
    top: 150px;
    left: 50%;
    transform: translate( -570%, 0 );
    margin:-100px;
    background: transparent;
    color: white;
    border-color: white;    
}
button.btn-outline-orange4:hover{
    background-color: #F7941E;
    color: white;
}
/*#---------------------------------*/

p,h6,img.otstup{
    margin-left: 25px;
}

h1.center{
    margin-top: 3%;
}
del{
    color: #F7941E;
}
button.btn-outline-dark{
    margin-top: 1%;
    margin-left: 50px;
    margin-bottom: 5%;
}

img.img-banner{
    margin-top: 3%;
    margin-left: 450px;
    
}
img.mini-otstup{
    margin-top: 58px;
}
h4.text-top{
    margin-top: 1%;
    position: inherit;
    margin-right: 680px;
}
h4.text-top2{
    margin-top: -2%; 
    position: inherit;
    margin-left: 20px;
}
h4.text-top3{
    margin-top: -2%; 
    position: inherit;
    margin-left: 680px;
}
h3.otstup{
    margin-top: 4%;
}

button.miti-btn{
    background: #F7941E;
    color: white;
}
button.miti-btn:hover{
    background: white;
    color: #F7941E;
}


img.image {
    position: relative;
    width: 95%;
    margin-top: 3%;
}

h1.top-text {
    position: relative;
    top: -150px;
    left: 90px;
    width: 100%;
    color: white;
}
a.top-text{
    position: relative;
    top: -160px;
    left: 90px;
    width: 100%;
    color: white;
}
a.top-text {
    color: white;
   }
   a.top-text {
    color: white; 
   }
   a.top-text:visited { 
    color: white; 
   }
   a.top-text:hover {
    color: white; 
}

a.link{
    position: inherit;
    margin-left: 7%;
    color: #808080;
    text-decoration: none;
}
a.link:visited{
    color: #808080;
}
a.link:hover{
    color: #F7941E;
}


h3.indent{
    margin-top: 4%;
    height: 100px;
    margin-left:60px;
}
p.indent{
    margin-left:60px;
}

table.table1{
    margin-top: -8%; 
    position: inherit;
    margin-right: 810px;

}
table.table2{
    margin-top: -8%; 
    position: inherit;
    margin-right: 220px;

}
table.table3{
    margin-top: -8%; 
    position: inherit;
    margin-left: 1110px;

}
.mini-text{
    font-size: 15px;
}

img.img-logo{
    margin-top: -17%; 
    position: inherit;
    width: 100px;
    margin-left: 1750px;
}

a.nav-link{
    margin-top: -7%; 
    position: inherit;
    margin-left: 1680px;
    color: black;
}

a.nav-link:hover{
    color: #F7941E;
}

a.nav-link2{
    text-decoration: none;
    margin-top: 20%; 
    position: inherit;
    margin-left: 1800px;
    color: black;
}

a.nav-link2:hover{
    color: #F7941E;
}

.text-otstup{
    margin-top: -3%;

    margin-right: 50px;
}
/*---------------------------------------------------------*/

/*Women*/

.btn-outline1{
    position: relative;
    width: 100px;
    top: -80px;
    left: 68%;
    transform: translate( -1000%, 0 );
    margin:-100px;
    background: transparent;
    color: black;       
}
.btn-outline1:hover{
    background-color: black;
    color: white;
}
.btn-outline2{
    position: relative;
    width: 100px;
    top: -80px;
    left: 98%;
    transform: translate( -1000%, 0 );
    margin:-100px; 
    background: transparent;
    color: black;     
}
.btn-outline2:hover{
    background-color: black;
    color: white;
}


.btn-outline3{
    position: relative;
    width: 100px;
    top: -80px;
    left: 128%;
    transform: translate( -1000%, 0 );
    margin:-100px;
    background: transparent;
    color: black;     
}
.btn-outline3:hover{
    background-color: black;
    color: white;
}
 
.btn-outline4{
    position: relative;
    width: 100px;
    top: -80px;
    left: 158%;
    transform: translate( -1000%, 0 );
    margin:-100px;
    background: transparent;
    color: black;  
}
.btn-outline4:hover{
    background-color: black;
    color: white;
}
button.btn-orange{
    background: #F7941E;
    color: white;
}
button.btn-orange:hover{
    background: white;
    color: #F7941E;
}
h1.center-text{
    margin-top: -7%; 
    position: inherit;
    margin-right: 1500px;
    
}

h3.indent-2{
    margin-top: 4%;
    height: 100px;
    margin-right:1680px;
}
p.indent-2{
    margin-right:1680px;
}
table.table3-3{
    margin-top: -8%; 
    position: inherit;
    margin-left: 570px;
}
h1.text-5{
    margin-top: -12%; 
    position: inherit;
    margin-left: 70px;
    color: white;
}

button.btn-1{
    margin-top: -8%; 
    position: inherit;
    margin-left: 70px;
    background: white;
    color: black;
    border-color: white;
}
button.btn-1:hover{
    background: black;
    color: white;
    border-color: black;
}

/*------------------------------------------------*/

/*Shoes*/

.elementor-text{
    margin-top: -12%;
    position: inherit;
    color: white;

}
.elementor-button-text{
    background: transparent;
    color: white;
    border-color: white;
    width: 150px;
}
.elementor-button-text:hover{
    background: white;
    color: black;
}
button.elementor-button-obuv{
    margin: 115px;
    background: transparent;
    color: black;
    border-color: black;
    width: 80px;
}
button.elementor-button-obuv:hover{
    background: black;
    color: white;
}



